.form-floating {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-floating input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .btn btn-dark{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
      
  }
  